@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  --background: #fff;
  --secondary: #121417;
  --modal: #363535;
  --gray: #8a8a89;
  --secondary-white: #f8f8f8;
  --red: #ff0000;
  --yelow: #f4c550;
  --colorYellow: #f4c550;
  --hoverColorYellow: #ffdc86;
  --colorGreen: #9fbaae;
  --hoverColorGreen: #cbded3;
  --colorBlue: #9fb7ce;
  --hoverColorBlue: #bfd6ea;
  --colorPink: #e0a39a;
  --hoverColorPink: #f2c0bd;
  --colorCoral: #f0aa8d;
  --hoverColorCoral: #f4c8ba;
  --grean: #38cd3e;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Roboto-Medium.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.ttf') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}
